extends layout.pug

block content 
  if errors
    h2.error Oooops!
    ul.error
      li= errors.message.replace(/Validation error: /g,'').split(',')[0]
      li= errors.message.replace(/Validation error: /g,'').split(',')[1]

  form(action="/books/new", method="post")
    p
      label(for="title") Title:
      input(type="text", name="title" value=book.title)
    p
      label(for="author") Author:
      input(type="text", name="author" value=book.author)
    p
      label(for="author") Genre:
      input(type="text", name="genre" value=book.genre)
    p
      label(for="author") Year:
      input(type="text", name="year" value=book.year)
    p
      input(type="submit", value='Create New Book')
    p
      a.button(href='/') Cancel
